body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Courier New";
}

#grid{
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 2000px;
}

#grid td{
	background: url("../img/grass.jpg") no-repeat;
	background-size: 20px 20px;
	margin: 0;
	width: 20px;
	height: 20px;
	padding: 0;
	overflow: hidden;
}

#grid td.grid-grassSheep{
	background-image: url("../img/grass-sheep.jpg");
}

#grid td.grid-grassSheepMe{
	background-image: url("../img/grass-sheep-me.jpg");
}

#grid td.grid-nograssSheep{
	background-image: url("../img/nograss-sheep.jpg");
}

#grid td.grid-nograssSheepMe{
	background-image: url("../img/nograss-sheep-me.jpg");
}

#grid td.grid-nograss{
	background-image: none;
}

button.buttonControl{
	position: fixed;
	border: none;
	outline: none;
	width: 50px;
	height: 50px;
	display: block;
	background-color: transparent;
	background-size: 50px 50px;
}

button#buttonUp{
	background-image: url("../img/up.png");
	bottom: 125px;
	left: 85px;
}

button#buttonDown{
	background-image: url("../img/down.png");
	bottom: 35px;
	left: 85px;
}

button#buttonLeft{
	background-image: url("../img/left.png");
	bottom: 80px;
	left: 35px;
}

button#buttonRight{
	background-image: url("../img/right.png");
	bottom: 80px;
	left: 135px;
}

button#buttonUp:hover{
	background-image: url("../img/up-hover.png");
}

button#buttonDown:hover{
	background-image: url("../img/down-hover.png");
}

button#buttonLeft:hover{
	background-image: url("../img/left-hover.png");
}

button#buttonRight:hover{
	background-image: url("../img/right-hover.png");
}

button#buttonEat{
	position: fixed;
	border: none;
	outline: none;
	width: 100px;
	height: 50px;
	display: block;
	background-color: transparent;
	background-size: 100px 50px;
	background-image: url("../img/eat.png");
	bottom: 35px;
	left: 205px;
}

button#buttonEat:hover{
	background-image: url("../img/eat-hover.png");
}